*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
    color: #fff;
}

/*頭部樣式*/
#header {
    height: 60px;
    background-color:#010101;
}

#header .logo{
    width:128px;
    height: 40px;
    background-image:url("../img/logo.png");
    margin-top: 10px;
    margin-left:25px;
}

/*導航樣式*/
#header .nav{
    color: #fff;
    margin-left: 50px;
}

#header .nav .nav_item{
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding:0 25px;
}
#header .nav li:nth-child(2){
    background: #363c41;
    position: relative;
}
#header .nav li:nth-child(2)::after{
    content:'';
    display: block;
    position: absolute;
    background: url("../img/icon-new.png");
    right: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
}
#header_rightArea{
    height: 60px;
}

#header_rightArea .tool{
    margin-right: 25px;
    height: 60px;
}
/*搜索框樣式*/
#header_rightArea .search{
    position:relative;
    margin-top: 10px;
    margin-right: 25px;

}
#header_rightArea .search input{
    height: 40px;
    width: 260px;
    padding: 0 10px;
    background-color: #010101;
    border: none;
    border-bottom:1px solid #616667;
    color:#fff;

}
#header_rightArea .search .searchBtn{
    display:block;
    background: url("../img/icon-1-sprite_w22.png");
    background-position: 0 0;
    position: absolute;
    right: 9px;
    top:9px;
    width: 22px;
    height: 22px;
}
#header_rightArea .search .searchTxt{
    text-align: center;
    width: 72px;
    height: 30px;
    line-height: 30px;
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #2c3439;
    color: #616c71;
    font-size: 12px;
}

/*右區圖標樣式*/
.tool a{
    height:60px;
    display: block;
    padding: 0 25px;
}
.tool a:hover{
    background-color: #363c41;
}
.tool .cart,
.tool .alarm{
    width: 22px;
    height: 22px;
    margin-top: 19px;
}
.tool .cart{
    background: url("../img/shopcar.png") no-repeat;
    background-position: 2px -213px;
}

.tool .alarm{
    background: url("../img/icon-1-sprite_w22.png");
    background-position: 0 -44px;
}
.tool .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    background: url("../img/ava.jpg") no-repeat;
    background-size: contain;
}

.wrap{
    width: 100%;
    position: relative;
}
/*banner區域*/
.banner{
    background:url("../img/cart-header-bg.jpg") repeat;
    height: 160px;
    z-index: 0;
}

/*結算區域*/
.cart{
    width: 1100px;
    position: absolute;
    margin: 0 auto;
    top:100px;
    left: 50%;
    margin-left: -550px;
}
.cart_menu{
    box-shadow: 0 0 5px 3px #dddddd;
    z-index: 1;
    background-color: #fff;
}

.title_row {
    width: 100%;
    height: 60px;
    background-color: #ebebeb;
    font-size: 15px;
    color:#666666;
    font-weight: bold;
}
.title_row .product_selectAll,
.title_row .product_name,
.title_row .product_total_price,
.title_row .product_price,
.title_row .product_quantity,
.title_row .product_operation{
    height: 60px;
    line-height: 60px;
}
.title_row .product_selectAll{
    width: 80px;
}
.title_row .product_selectAll input,
.cart_menu .product_row .product_selectOne input{
    margin: 0 10px 0 20px;
}
.title_row .product_name{
    width:380px;
    margin-left:30px;
}
.title_row .product_total_price,
.title_row .product_price,
.title_row .product_quantity,
.title_row .product_operation{
    width: 90px;
    text-align: center;
    margin-left: 30px;
}
.title_row .product_quantity{
    width: 130px;
}
.title_row .product_operation{
    width: 180px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

.cart_menu .product_row,
.cart_menu .product_row .product_selectOne,
.cart_menu .product_row .product_detail{
    height: 120px;
}
.cart_menu .product_row{
    border-bottom: 1px solid #dbdbdb;
    color: #8e8e8e;
}
.cart_menu .product_row .product_selectOne{
    line-height: 120px;
    width: 55px;
}
.cart_menu .product_row .product_detail{
    width:435px;
}
.cart_menu .product_row .product_detail img{
    display: block;
    margin:15px 15px 0 5px;
}
.cart_menu .product_row .product_detail span{
    display: block;
    margin-top: 20px;
}

.cart_menu .product_row .total_price,
.cart_menu .product_row .price,
.cart_menu .product_row .quantity_box,
.cart_menu .product_row .operate{
    width: 90px;
    text-align: center;
    margin-left: 30px;
    line-height: 120px;
    height: 120px;
}
.cart_menu .product_row .quantity_box{
    width: 130px;
}

.cart_menu .product_row .quantity_box .quantity{
    width:58px;
    height: 22px;
    margin:48px auto;
    line-height: 22px;
    position:relative;
}
.cart_menu .product_row .quantity_box .quantity .quantity_input{
    width: 58px;
    padding:3px 0 3px 2px;
    height: 22px;
}
.cart_menu .product_row .quantity_box .quantity span{
    position: absolute;
    display: block;
    top:6px;
    border: 1px solid #666;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
}
.cart_menu .product_row .quantity_box .quantity span:hover{
    cursor: pointer;
}
.cart_menu .product_row .quantity_box .quantity .decreaseBtn{
    left: -15px;
}
.cart_menu .product_row .quantity_box .quantity .increaseBtn{
    right: -15px;
}
.cart_menu .product_row .operate{
    width: 180px;
}

.check_out{
    width: 1100px;
    border: 1px solid #dddddd;
    height: 50px;
    margin:20px auto;
    position: relative;
    color: #888;
    font-size: 15px;
}

.check_out .checkOutBtn{
    height: 50px;
    width: 120px;
    background-color: #f01605;
    color: #fff;
    border:none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}
.check_out .check_out_price{
    color: #f01605;
    font-size: 20px;
}
.check_out .money_sign{
    margin-right: 5px;
}