body{font-family:  Microsoft YaHei;}
/*顶部*/
header{height: 100px;width:100%;background:rgb(239,239,239);position: relative;}
.top_left,.top_left img,.top_left span{float: left;}
.top_right{float: right;margin-right: 300px;}
.top_right span,.top_right img{float: left;}
.top_left img{height: 90px;width: 90px;margin-left: 290px;}
.top_left .three{font-size: 20px;color: #000;border-right: 2px solid black;font-weight: bold;padding: 5px 10px;
position: absolute;top: 50%;margin-top: -16px;}
.top_left .four{position: absolute;top: 50%;margin-top: -11px;left: 615px;}
.top_right{height: 100%;line-height: 100px;}
.top_right .one,.one1,.one2,.one3{color: black;margin-right: 10px;}
.top_right .one3 a:hover{cursor: pointer;color: rgb(251,116,3);}
.top_right .tow,.tow2{color: rgb(251,116,3);margin-right: 15px;}
.top_right .tow2{margin-left: -5px;}
.top_right .tow2::after{border-right:1px solid red;content: '';margin-left: 8px;}
.one1{margin-left: -5px;}
.triangle{height: 0;width: 0;border-left: 8px solid transparent;border-bottom: 8px solid transparent;
border-right: 8px solid transparent; border-top: 8px solid black;position: absolute;top: 50%;margin-top: -5px;}
.top_right img{height: 20px;width: 12px;position: absolute;top: 50%;margin-top: -10px;margin-left: 45px;}
.one2{margin-left: 60px;}
.top_text{position: absolute;width: 160px;border:2px solid rgb(251,116,3);top: 70px;display: none;z-index:10;
background: rgb(252,252,252);}
.top_right .one3{position: relative;}
.top_right .one3:hover .top_text{display: block;}
.top_text ul{padding:0 10px 0 10px;}
.top_text ul li{padding:0 10px;height: 35px;line-height: 35px;}
.top_text ul li:hover{color: rgb(251,116,3)}
.top_text ul li.dotted{border-bottom: 1px dotted gray;}
/*内容部分*/
.body_top1{position: absolute;top: -30px;color: black;font-size: 16px;}
.body_top1 a{font-size: 14px;color: gray;}
section .border .wrap{height: 600px;width: 970px;border:2px solid rgb(251,116,3);margin:35px auto;position: relative;
border-radius: 10px;}
.form_top{height: 30px;width: 100%;background-color: rgb(251,116,3);color: #fff;font-size: 16px;line-height: 30px;
text-indent: 10px;}
.form_body{padding-left: 300px;padding-top: 50px;}
.form_body label,.item .star{color:rgb(251,116,3);}
.item{position: relative;margin-bottom: 20px;}
.item input,.item label,.item select{position: absolute;left: 12%;}
.item input{text-indent: 5px;width: 185px;}
.item label,.instructions{left: 43%;}
label.color_text{top: 10px;}
.item .text{color:black;}
#color1,#color2,#color3{height: 5px;width: 35px;background: gray;display: inline-block;}
.item .color_wrap{position: absolute;left: 43%;top: -5px;}
.color_wrap span{margin-left: 5px;}
#color1{background-color: red;}
.item select{width: 189px;height: 22px;}
.instructions{position: absolute;top: 0;color:rgb(251,116,3);font-size: 14px;text-decoration: underline;}
.instructions ul{padding: 8px;border:1px solid rgb(36,135,201);top: 16px;font-size: 12px;color: gray;
width: 300px;margin-top: 10px;position: absolute;display: none;}
.agreed{margin-left: 80px;}
#submit{width: 220px;height: 35px;border:none;border-radius: 5px;background-color: rgb(251,116,3);color: #fff;
position: absolute;left: 50%;margin-left: -110px;margin-top: 20px;}
.agreed input{width:16px;height: 16px;}
.agreed span{font-size: 16px;color: black;}
.agreed a{color: rgb(36,135,201);}
/*底部*/
footer{width: 100%;height: 90px;background-color: rgb(239,239,239);text-align: center;}
.footer_top_text{line-height: 50px;}
.border{border-top:2px solid rgb(36,135,201);border-bottom:2px solid rgb(36,135,201);height: 745px;}
